@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1>Contact <i>Khumalo Craft</i></h1>
    <br>
    <p>
        Whether you are seeking assistance with an order, have a product inquiry, or simply want to chat about handmade treasures, we are dedicated to providing you with exceptional customer service. Do not hesitate to reach out – we look forward to hearing from you!
    </p>
    <br>
    <h4>Email:</h4>
    <p>
        <a href="mailto:contact@khumalocraft.com">contact@khumalocraft.com</a>
    </p>
    <br>
    <h4>Phone:</h4>
    <p>(+27)76 434 9876</p>
    <br>
    <h4>Address:</h4>
    <p>
        146 Artisan Avenue,<br>
        Durban North,<br>
        Durban,<br>
        South Africa
    </p>
    <br>
    <h4>Customer Service Hours:</h4>
    <p>Monday-Friday: 9:00 AM - 5:00 PM (SAST)</p>
    <br>
    <h4>Social Media:</h4>
    <p>
        Stay updated on the latest news, sales, and behind-the-scenes glimpses by following us on social media:
    </p>
    <br>
    <p style="color: seagreen;">
        <b>Facebook:</b> <a href="https://www.facebook.com" target="_blank">KhumaloCraft</a><br>
        <b>Instagram:</b> <a href="https://www.instagram.com" target="_blank">khumalocraft_official</a><br>
        <b>Pinterest:</b> <a href="https://www.pinterest.com" target="_blank">KhumaloCraft</a>
    </p>
</div>
