@{
    ViewData["Title"] = "Home";
}

<div class=" text-center">
    <br>
    <br>
    <h1>Welcome to <i>Khumalo Craft</i></h1>
    <br>
    <h2>Discover Handcrafted Treasures from Around the World</h2>
    <p>At Khumalo Craft emporium, we are passionate about connecting you with one-of-a-kind handcrafted products created by artisans from many cultures and countries. Explore our curated collection of textiles, pottery, and more to discover the beauty of craftsmanship from around the globe.</p>
    <br>
    <img src="~/images/WorldMapHome.jpg" alt="World Map" width="325" height="200" style="opacity: 0.5;">
</div>

