@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1>About <i>Khumalo Craft</i></h1>
    <br>
    <p>
        At Khumalo Craft, we are on a mission to showcase the beauty of handcrafted artistry from around the world. Our platform functions as a global marketplace where artisans and creators can display their unique talents, while customers like you can discover and appreciate their exceptional work.
    </p>
    <br>
    <div class="image-right">
        <img src="~/images/JamesKhumaloAboutUs.jpeg" alt="James Khumalo" width="290" height="175" style="margin-top: 20px;">
    </div>
    <div class="text-left">
        <h2>Our Story and Mission</h2>
        <p>
            Khumalo Craft was founded by James Khumalo, a visionary entrepreneur with a passion for uniting artisans with a global audience. Inspired by the rich range of handmade products and the stories behind them, James created a platform where craftsmanship thrives and where each piece tells a tale of tradition, skill, and creativity.
            Our goal is to empower craftsmen and sustain their means of subsistence while promoting and protecting the art of handcrafted goods. We are committed to offering a platform where artisans can thrive and customers can discover rare treasures because we value authenticity, quality, and cross-cultural exchange.
        </p>
        <br>
        <h2>Why Choose Khumalo Craft?</h2>
        </div>
        <div class="image-right">

            <img src="~/images/WorldWideCommunityAboutUs.jpeg" alt="Worldwide Community" width="290" height="175" >
        </div>
    <div class="text-left">
        <h3>Authenticity</h3>
        <p>
            Since every item on Khumalo Craft is handmade with care and attention to detail, authenticity is guaranteed.
        </p>
        <br>
        <h3>Worldwide Community</h3>
        <p>
            In addition to buying a product, you are also becoming a part of a worldwide community of artists, makers, and art enthusiasts when you support Khumalo Craft.
        </p>
        <br>
        </div>
    <div class="image-right">

        <img src="~/images/EthicalSourcingAboutUs.jpeg" alt="Ethical Sourcing" width="290" height="175" style="margin-top: 20px;">
    </div>
        <div class="text-left">
           
        <h3>Ethical Sourcing</h3>
        <p>
            We are dedicated to using ethical sourcing methods and making sure that all craftspeople have access to fair pay and working conditions.
        </p>
        <br>
        <h3>Client Satisfaction</h3>
        <p>
            Our first goal is making sure you are satisfied and to deliver a seamless shopping experience.
        </p>
    </div>
    <br>
    <br>
    <h2>Join Us on this Journey</h2>
    <p>
        Together, we will venture into the realm of handcrafted craftsmanship as we embark on this exciting voyage of exploration and celebration. We welcome you to browse our collections, and discover your next priceless find—regardless of your level of experience collecting handcrafted art.
    </p>
    <div class="image-grid">
        <div class="image-container">
            <img src="~/images/WoodworkHome.jpeg" alt="Woodwork">
        </div>
        <div class="image-container">
            <img src="~/images/GlasswareHome.jpeg" alt="Glassware">
        </div>
        <div class="image-container">
            <img src="~/images/PotteryworkHome.jpeg" alt="Pottery">
        </div>
        <div class="image-container">
            <img src="~/images/ArtisanalTextilesHome.jpg" alt="Textiles">
        </div>
        <div class="image-container">
            <img src="~/images/MetalworkHome.jpeg" alt="Metalwork">
        </div>
    </div>
</div>
